body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
header{
    background-color: green;
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    align-items: right;
    padding: 0 20px;
}
.logo{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo img{
    width: 350;
    height: 50px;
    align-self: flex-start;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    
    color: beige;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}


footer{
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;
}

.Copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin:20px;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px; 
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0; 
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background: green;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}


.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, green);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}


.items{
    line-height: 1.5;
}

.items::before{
    content:  "🟊";
}

.items:first-child{
    font-weight: bold;
}



@media screen and (max-width:700px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    
}



